<header>
    <nav>
        <ul class="nav-ul">
            <li class="nav-ul-li"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a></li>
            <li class="nav-ul-li"><a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a></li>
            <li class="nav-ul-li"><a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a></li>
            <li class="nav-ul-li"><a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a></li>
            <li class="nav-ul-li"><a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product</a></li>
            <li class="nav-ul-li"><a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Product</a></li>
        </ul>
    </nav>
</header>
