<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (items.length > 0) { %>
            <% for (let product of items) { %>
                <div class="grid">
                    <div class="card">
                        <img src="<%= product.imageUrl%>" alt="<%= product.imageUrl%>" style="width:100%">
                        <div class="container">
                            <h2>$<%= product.title %></h2>
                            <h4><%= product.price %></h4>
                            <p><%= product.description %></p>
                        </div>
                        <div>
                            <a href="/products/<%= product.id%>" class="btn">Details</a>
                            <form action="/add-to-cart/" method="POST">
                                <button class="btn">Add To Cart</button>
                            </form>
                        </div>
                    </div>
                </div>
                
            <% } %>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>